

.button {
  width:25%;
  background-color:#0055ff;
  text-align:center;
  vertical-align:middle; 
}

.list_item {
  text-align:justify;
}

.list_item:after {
    content: '';
    display: inline-block;
    width: 100%;
    height: 0;
    font-size:0;
    line-height:0; 
}

.list_contents {
  display:inline-block;
  vertical-align:top;
  font-size:1.5em;
}

.list_widget {
  display:inline-block;
}

.widget.exp {
  background-color: #ffffff;
}

.twobar {
  float:left;
  width:50%;
}

.spacer {
  height : 2.5em;
  display : inline-block;
}

.widget.con {
}

.menu {
    
}
