

.button {
  width:25%;
  background-color:#0055ff;
  text-align:center;
  vertical-align:middle; 
}

.list {
  width : 25%;
}

.entry {
}

.label {
  height : 2.5em;
  display : inline-block;
  vertical-align: middle; 
  text-align: center;
}

.widget {
  width : 2.5em;
  height : 2.5em;
  text-align:right;
  float:right; 
}

.widget.exp {
  background-color:#FE2EFE;
}

.spacer {
  height : 2.5em;
  display : inline-block;
}

.widget.con {
  background-color:#EFE2EF;
}

.menu {
    
}
