<div class="topcoat-list">
    <ul class="topcoat-list__container">
        <li class="topcoat-list__item" ng-repeat="child in tree.root.children" ng-click="nav(child)">
            <div class="list_item">
              <div class="list_contents">
                <span>{{child.data.name}}</span>
                <div><span>Total:</span>{{child.data.total}}</div>
              </div>
              <div class="list_widget" 
                   ls-toggle-widget 
                   node="child" 
                   on="icons/svg/arrow_up.svg" 
                   off="icons/svg/arrow_down.svg">
              </div>
            </div>
            <div ng-switch="child.expand">
                <div class="topcoat-list" ng-switch-when="true">
                    <ul class="topcoat-list__container">
                        <li class="topcoat-list__item" id="{{child.id+'_sublist'}}" ng-repeat="subchild in child._children">
                            <div>{{subchild.data.name}}</div>
                            <div>Cost: {{subchild.cost}}</div>
                        </li>
                    </ul>
                </div>
            </div>
        </li>
    </ul>
</div>
