<li class="topcoat-list__item item_selected" ng-class="{selected_item:node.selected}">
{{ node.data.name }}
<div ng-if="node.expand">
<div class="topcoat-list">
  <h1 class="topcoat-list__header" ng-click="">{{node.date.name}}  {{cost}}</h1>
  <ul class="topcoat-list__container">
    <div ng-repeat="child in node.children">
    <ls-list-item class="topcoat-list__item" ng-class="{selected_item:child.selected}" node="child" data="child.data" select="select" 
                ng-animate="'custom'" 
    >
    </ls-list-item>
    </div>
  </ul>
</div>
</div>

</li>
