<div class="topcoat-list">
  <h1 class="topcoat-list__header" ng-click="">{{spec.name}}  {{cost}}</h1>
  <ul class="topcoat-list__container">
    <div ng-repeat="data in options">
    <ls-list-item class="topcoat-list__item" ng-class="{selected_item:data.selected}" data="data" select="select" 
                ng-animate="'custom'" 
    >
    </ls-list-item>
    </div>
  </ul>
</div>
<div class="topcoat-button--large--cta twobar" ng-click="add()">Add</div>
<div class="topcoat-button--large--cta twobar" ng-click="cancel()">Cancel</div>
