<div class="list" ng-repeat="child in tree._root._children">
    <div class="spacer"></div>
    <span class="label" ng-click="nav(child)">{{child._id}}</span> 
    <div id="{{child._id+\'_exp\'}}" ng-click="widget(\'expand\',child)" class="widget exp"></div>
    <div ng-switch="child.expand">'
        <div ng-switch-when="true">
            <div id="{{child._id+\'_sublist\'}}" ng-repeat="subchild in child._children">
                <div>{{subchild._data.name}}</div>
            </div>
        </div>
    </div>
</div>
